body{
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.section{
    display: flex;
    flex-direction: row;
    width: inherit;
}

.subsection{
    flex: 1;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px);
}

#header-section{
    background-color: red;
    height: 50px;
}

#config-div{
    background-color: blue;
    height: 20%;
    display: flex;
    flex-direction: column;
}

#idles-div{
    background-color: orange;
    flex: 1;
    display: flex;
    flex-direction: column;
}

#main-div{
    background-color: yellow;
    height: 65%;
}

#buffs-div{
    background-color: green;
    flex: 1;
    display: flex;
    flex-direction: column;
}

#minigames-div{
    background-color: purple;
    flex: 1;
}

.div-name{
    margin: 10px auto 5px auto;
}

#game-title{
    width: 100vw;
}

#score-display{
    background-color: palegoldenrod;
    margin: 0 auto;
    width: 50%;
    display: flex;
    align-items: center;
    place-content: center;
    height: 10%;
}

#click-area{
    background-color: aliceblue;
    margin: 10% auto;
    width: 80%;
    height: 50%;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

#click-area:hover{
    transform: scale(1.05);
}

#click-area:active{
    transform: scale(1);
}

.buy{
    background-color: gray;
    cursor: pointer;
    font-weight: 900;
    font-family: inherit;
}

#buffs-container{
    background-color: gray;
    width: 410px;
    flex: 1;
    margin: 0 auto 2% auto;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 10px;
    overflow-x: auto;
}

.buff{
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    height: 90%;
    width: 130px;
}

.buff:first-of-type{
    margin-left: 5px;
}

.buff:last-of-type{
    margin-right: 5px;
}

.buff p, .buff span{
    margin: 2%;
    font-size: 10px;
    font-weight: 900;
}

.buff-icon, .idle-icon{
    height: 65px;
    width: 65px;
    margin: 5% auto;
    background-color: gray;
}

.buff-buy{
    height: 20%;
    width: 50%;
    margin-bottom: 5%;
}


#idles-container{
    background-color: gray;
    width: 410px;
    max-height: 445px;
    margin: 0 auto 2% auto;
    overflow-y: auto;
}

.idle{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    height: 120px;
    width: 95%;
    margin: 10px auto;
}

.idle:first-of-type{
    margin-top: 5px;
}

.idle p, .idle span{
    margin: 2%;
    font-size: 12px;
    font-weight: 900;
}

.idle-section{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: fit-content;
    text-align: left;
}

.stats-section{
    width: 220px;
}

.visual-section{
    width: 100px;
}

#config-container{
    display: flex;
    place-content: center;
    flex-direction: row;
}

.config{
    display: grid;
    place-items: center;
    background-color: gray;
    width: 80px;
    height: 80px;
    margin: 5px;
    font-size: 13px;
}


/* Scrollbar styles */
::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(74, 74, 74);
}

::-webkit-scrollbar-thumb:hover {
    background-color: #393939;
    opacity: 50%;
}

::-webkit-scrollbar-thumb:active {
    background-color: #222222;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
